modules = ["python-3.12"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Backend"

[[workflows.workflow]]
name = "Run Backend"
author = 43415462
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python backend_api.py"
